In [14]:
import pandas as pd
import os
from collections import Counter

In [7]:
os.chdir("/home/david/dev/fastapi-sqlalchemy/tests")

In [12]:
df = pd.read_csv("./Utilisation report - 20230227.xlsx - Staff List.csv", usecols=[0, 1, 2], header=7)
df

                   Name                           GM Perm/Contract
0             Aaron Ooi                 Dan Cornwall      Contract
1            Aaron Zhou  David Shepherd Acting GM SE      Contract
2    Abhishek Thapliyal                Malen Hurbuns      Contract
3         Adrian Rivers  David Shepherd Acting GM SE          Perm
4     Aleksandra Ovalle                 Dan Cornwall          Perm
..                  ...                          ...           ...
186                 NaN                          NaN           NaN
187                 NaN                          NaN           NaN
188                 NaN                          NaN           NaN
189                                              NaN           NaN
190                 NaN                                        NaN

[191 rows x 3 columns]

In [11]:
names = list(df["Name"].loc[:180])
names

['Aaron Ooi',
 'Aaron Zhou',
 'Abhishek Thapliyal',
 'Adrian Rivers',
 'Aleksandra Ovalle',
 'Alex Zuehlke',
 'Alexey Pavlenko',
 'Amin Zabihi',
 'Andrew Barclay',
 'Andrew Campkin',
 'Andrew Lindesay',
 'Andrew Martin',
 'Andrew Simpson',
 'Andrew Wells',
 'Andy Mussell',
 'Angel Petrovski',
 'Anthony Barr',
 'Ardhra Jacob',
 'Asanka Padmakumara',
 'Ava Czechowska',
 'Barbara Gray',
 'Ben Phear',
 'Bert Huang',
 'Bhawna Malhotra',
 'Bjarne Hansen',
 'Blair Jackson',
 'Boris Guskee',
 'Brenda Goudie',
 'Bryan Stephens',
 'Carlos Liu',
 'Caterina Berimballi',
 'Celeste Ormaechea',
 'Charles Wang',
 'Chris Callaghan',
 'Chris Hoolihan',
 'Clare Haeney',
 'Colin Henwood',
 'Colin Sergay',
 'Connor Hewett',
 'Corne Aspeling',
 'Craig Forster',
 'Craig McDonald',
 'Dameon Andersen',
 'Dan Cornwall',
 'Danny Rietkerk',
 'Daron Robinson',
 'David Rawson',
 'David Shepherd',
 'Dennis Sosnoski',
 'Dhaval Tanna',
 'Dileep Samala',
 'Dirk Wessels',
 'Dmitry Oparin',
 'Ed Statham',
 'Edward Weaver',
 'Ekamban Chokkappan',
 'Fedor Vinogradov',
 'Fletcher Thomas',
 "Fran O'Neil",
 'Ganesan Srinivasan',
 'Gerald Garcia',
 'Gerry Dassi',
 'Gowri Rudrabhatla',
 'Grace Wang',
 'Greg Montgomery',
 'Hamid Sedghinezhad',
 'Heidi Cone',
 'Hsichen Hsieh',
 'Inderdip Vraich',
 'Irina Southwell',
 'Jack Luo',
 'Jason Kang',
 'Jason Qu',
 'Jenny Chiu',
 'Jenny Mullane',
 'Jiaqiu Zhao',
 'Jill Nones',
 'Joel Guevara',
 'Jonathan Ackerman',
 'Jonathon Poi Lee',
 'Josh van den Heever',
 'Karan Ramanathan',
 'Karo Liang',
 'Karthik Kreen Krishnan',
 'Kate Lu',
 'Kelvin Li',
 'Ken Kato',
 'Kenji Yamasaki',
 'Kevin Zhang',
 'Kiran Rajan',
 'Kirill Ivanov',
 'Kris Rayana',
 'Krishaal Kumar',
 'Krishna Caldas',
 'Lana Shatonova',
 'Llyle Van Schalkwyk',
 'Luci Niemand',
 'Lux Liu',
 'Maheesha Kottegoda',
 'Malendra Hurbuns',
 'Manu Tendulkar',
 'Manuel Mendes',
 'Marvin Villahermosa',
 'Mary-anne Stuart-William',
 'Mason Blackwood',
 'Massimo Berimballi',
 'Matt Millar',
 'Matthew Berg',
 'Matthew Clarke',
 'Max Tang',
 'Maxim Kukharev',
 'Megan Robb',
 'Michael Magsuci',
 'Michael Owen',
 'Michael Whelan',
 'Mike Gatman',
 'Mike Nguyen',
 'Mina Al-Ansari',
 'Miriam Walker',
 'Mohit Kalra',
 'Morne Niemand',
 'Naga Seramsetty',
 'Natasha Pearce',
 'Nicholas Redgwell',
 'Nikolay Perov',
 'Nripendra Pradhananga',
 'Oliver Liu',
 'Omkar Kadam',
 'Paul Hayter',
 'Paul McDonnell',
 'Paul Wavish',
 'Pavel Diatchenko',
 'Peter Hunter',
 'Phil Spenceley',
 'Prabhakar Rachamalla',
 'Prabhu Ramamoorthy',
 'Pragathi Singamneni',
 'Reece Gibbs',
 'Rich Smith',
 'Riel Fabillar',
 'Robert Clark',
 'Robin Bygrave',
 'Robin Southgate',
 'Rodd Penney',
 'Ruan van Maarleveld',
 'Ryan Harte',
 'Sam Vellinga',
 'Sama Sagar',
 'Samuel Grospe',
 'See Wong',
 'Shane Henderson',
 'Shi Min Lee',
 'Sina Mobeen',
 'Steve Kelly',
 'Stuart Chen',
 'Stuart Hilton',
 'Stuart Massey',
 'Sujan Gurung',
 'Tao Lin',
 'Ted Regino',
 'Tejas Kulkarni',
 'Terence White',
 'Thiam Fatt',
 'Thomas Vercoutre',
 'Tim Ruddell',
 'Tom Ellis',
 'Tracy Carmona',
 'Troy Wing',
 'Varun Ghaswala',
 'Vaughan Walker',
 'Victor Mingueza',
 'Vivek Chari',
 'Wayne Goh',
 'Weeda Lostitmonton',
 'Wen-Yang Ji',
 'Willard Nyamunokora',
 'William Le',
 'Winnie Sowerby',
 'Yi Liu',
 'Yong Que',
 'Zoe Xu']

In [15]:
name_counter = Counter(names)
len(list(name_counter))

181

In [17]:
gms = list(df["GM"].loc[:180])
gm_counter = Counter(gms)
gm_counter

Counter({'David Shepherd Acting GM SE': 62,
         'Craig McDonald': 35,
         'Malen Hurbuns': 31,
         'Lesley Walmsley Acting GM CS': 23,
         'Dan Cornwall': 11,
         'David Shepherd': 9,
         'Mike Gatman': 5,
         'Lesley Walmsley ': 5})

In [18]:
all_names = set(name_counter).union(gm_counter)
len(all_names)

185

In [19]:
emp_types = list(df["Perm/Contract"].loc[:180])
emp_type_counter = Counter(emp_types)
emp_type_counter

Counter({'Contract': 98, 'Perm': 81, nan: 2})

In [20]:
all_nodes = all_names.union(set(emp_type_counter))
len(all_nodes)

188

In [21]:
print(f"Total nodes added = {len(all_nodes)}")

Total nodes added = 188

In [23]:
print(f"Total connections added = {len(name_counter)*2}")

Total connections added = 362